.root {
    -fx-background-color: #fff;
    -fx-font-family: 'Segoe UI', Arial, sans-serif;
}

.label {
    -fx-text-fill: #232325;
}

.button {
    -fx-background-color: #f2f2f2;
    -fx-text-fill: #232325;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-padding: 8 18 8 18;
    -fx-font-size: 15px;
}

.button:hover {
    -fx-background-color: #e6e6e6;
}

.text-field {
    -fx-background-color: #f7f7f8;
    -fx-background-radius: 8;
    -fx-border-color: #ccc;
    -fx-border-radius: 8;
    -fx-padding: 8 10 8 10;
}

.catalog-card {
    -fx-background-color: #f2f2f2;
    -fx-background-radius: 16;
    -fx-border-radius: 16;
    -fx-padding: 18 0 0 18;
}
