.root {
    -fx-font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    -fx-background-color: #fff;
}

.button {
    -fx-background-color: #232325;
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
    -fx-background-radius: 6;
    -fx-padding: 10 24;
}

.category-btn {
    -fx-background-radius: 16;
    -fx-font-size: 16px;
    -fx-background-color: #f5f5f7;
    -fx-text-fill: #232325;
    -fx-border: none;
    -fx-border-radius: 16;
    -fx-font-weight: normal;
}

.label {
    -fx-text-fill: #232325;
}

.text-field {
    -fx-background-color: #f9f9f9;
    -fx-border-color: #ddd;
    -fx-border-radius: 6;
    -fx-padding: 8 12;
}
